---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import SuitcaseIcon from '../components/icons/Suitcase.astro';
import MailIcon from '../components/icons/Mail.astro';
import CodeIcon from '../components/icons/Code.astro';
import CVICon from '../components/icons/cv.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import CopyButton from '../components/CopyButton.astro';
import CopyIcon from '../components/icons/CopyIcon.astro';
import UserIcon from '../components/icons/User.astro';
import CookieManIcon from '../components/icons/cookie-man.astro';
---

<Layout 
title="Portfolio de Alvaro Macias - Desarrollador web junior"
description="Contrata a Álvaro Macías, desarrollador web junior. Apasionado por la tecnología y listo para aportar valor en tu empresa."
>
	<main class="px-4">
		<SectionContainer id="/" class="py-44 pb-32">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 items-center">
				¡Hola, soy Álvaro!
				<a href="https://www.linkedin.com/in/alvaro-mac%C3%ADas-tirado-b637b625b/"
				   target="_blank"
				   rel="noopener"
				   class="flex justify-center items-center hover:scale-105 transition-transform">
					<Badge>
						Disponible para trabajar
					</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-[#0a58e9] text-2xl font-semibold"> Soy desarrollador web con 7 meses de experiencia y muchas ganas de seguir creciendo.</span>
				<br />
				<span class="text-gray-200 text-lg ">
					Bienvenido a mi portafolio. Aquí comparto los primeros proyectos que he desarrollado mientras aprendo y crezco como desarrollador web. Cada proyecto representa un paso en mi camino de aprendizaje. ¡Gracias por pasarte!
				</span>
				<span class="text-[#0a58e9] text-xl ">
					
				</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/alvaro-mac%C3%ADas-tirado-b637b625b/">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/alvaromt6">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<CopyButton textToCopy="alvaromacias614@gmail.com">
					<CopyIcon class="size-4 md:size-6"/>
					Mail
				</CopyButton>
				<!-- <SocialPill href="/Curriculum_Alvaro_Macias.pdf" >
					<CVICon class="size-4 md:size-6" />
					CV
				</SocialPill> -->
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 intems-center text-white">
				<SuitcaseIcon class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
				<CodeIcon class="size-7"/> Proyectos
			</h2>
			<Projects/>
		</SectionContainer>
		
		<SectionContainer id="tecnologias">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
				<UserIcon class="size-7"/> Tecnologías			
			</h2>
			<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
				<Badge>HTML</Badge>
				<Badge>CSS</Badge>
				<Badge>JavaScript</Badge>
				<Badge>PHP</Badge>
				<Badge>TypeScript</Badge>
				<Badge>React</Badge>
				<Badge>Tailwind CSS</Badge>
				<Badge>Git</Badge>
				<Badge>MongoDB</Badge>
				<Badge>SQL</Badge>
				<Badge>Python</Badge>
				<Badge>Laravel</Badge>
			</div>
		</SectionContainer>

		<SectionContainer id="sobre-mi" >
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
				<CookieManIcon class="size-7"/> Sobre mi
			</h2>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] leading-relaxed space-y-4">
				<span class="text-slate-200 text-lg opacity-90 block">
					Soy Álvaro Macías , desarrollador web con <span class="font-semibold text-white">7 meses de experiencia</span> trabajando en empresas del sector y muchas ganas de seguir creciendo en este mundo. Empecé mi camino en la tecnología estudiando un grado superior en Administración de Sistemas Informáticos, y con el tiempo descubrí que lo que realmente me apasiona es el desarrollo.
				</span>
				<span class="text-slate-200 text-lg opacity-90 block">
					Actualmente estoy formándome con un curso práctico mientras desarrollo proyectos reales que me ayudan a reforzar lo aprendido. Me estoy adentrando en <span class="font-semibold text-[#0a58e9]">React</span> y <span class="font-semibold text-[#0a58e9]">TypeScript</span>, explorando tanto el frontend como el backend para encontrar mi camino como desarrollador fullstack.
				</span>
				<span class="text-slate-200 text-lg opacity-90 block">
					Soy una persona constante, con muchas ganas de mejorar y aportar valor en cada proyecto. Me gusta aprender haciendo, y este porfolio es una muestra de ese proceso.
				</span>
			</h2>
		</SectionContainer>


	</main>
</Layout>
