---
const EXPERIENCE = [
    {
        date: 'Formación FullStack - Ipartek',
        title: 'Formación FullStack',
        description:
        `➡ Desarrollo de una API REST con Spring Boot.
        <br />
        ➡ Implementación de autenticación y autorización mediante Spring Security y JWT.
        <br />
        ➡ Desarrollo del frontend con Angular y TypeScript.
        <br />
        ➡ Consumo de la API para la gestión eficiente de datos.`,
    },
    {
        date: 'Desarrollador Web en Prácticas – GrupoORO',
        title: 'Prácticas Desarrollo Web',
        description: 
        `➡ Diseño y desarrollo de interfaces de usuario, asegurando una experiencia intuitiva con HTML, CSS y JavaScript.
        <br />
        ➡ Implementación de interfaces interactivas y dinámicas utilizando React y Three.js.
        <br />
        ➡ Automatización de procesos y flujos mediante n8n, integrando herramientas de IA.
        <br />
        ➡ Gestión y personalización de sitios web con WordPress.
        <br />
        ➡ Colaboración en la mejora de la usabilidad y funcionalidades de aplicaciones web.`,
    },
    {
        date: 'Desarrollador Web en Prácticas – Neleda S.L.',
        title: 'Prácticas Desarrollo Web',
        description: 
        `➡ Diseño y desarrollo de interfaces de usuario utilizando HTML, CSS y JavaScript.
        <br />
        ➡ Integración y gestión de bases de datos MySQL para el almacenamiento de datos de usuarios.
        <br />
        ➡ Desarrollo de funcionalidades adicionales para la mejora de la experiencia de usuario.
        <br />
        ➡ Mantenimiento y optimización de aplicaciones web.`,
    },

];

---

<ol class="relative border-s border-gray-200 ml-3 ">                  
   { 
    EXPERIENCE.map(experiencie => (
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400">{experiencie.date}</time>
        <h3 class="text-lg font-semibold text-blue-500 mb-2">{experiencie.title}</h3>
        <p class="text-base font-normal text-gray-300 " set:html={experiencie.description}></p>
    </li>
    ))
    }
</ol>