---
import GithubIcon     from "./icons/GitHub.astro";
import Css         from "./icons/Css.astro";
import Html        from "./icons/Html.astro";
import Javascript  from "./icons/Javascript.astro";
import React       from "./icons/React.astro";
import Tailwind    from "./icons/Tailwind.astro";
import SocialPill from "./SocialPill.astro";
import SupaBase    from "./icons/SupaBase.astro";
import Angular     from "./icons/Angular.astro";
import SpringBoot  from "./icons/SpringBoot.astro";
import Typescript  from "./icons/Typescript.astro";
import Sql         from "./icons/Sql.astro";



const TAGS = {

    TAILWIND: {
        name: "Tailwind",
        class: "bg-blue-200/10 text-blue-200",
        icon: Tailwind
    },

    JAVASCRIPT: {
        name: "Javascript",
        class: "bg-yellow-200/10 text-yellow-200",
        icon: Javascript
    },

    HTML: {
        name: "Html",
        class: "bg-red-200/10 text-red-200",
        icon: Html
    },
    REACT: {
        name: "React",
        class: "bg-cyan-200/10 text-cyan-200",
        icon: React
    },
    CSS: {
        name: "Css",
        class: "bg-purple-200/10 text-purple-200",
        icon: Css
    },
    SQL: {
        name: "SQL",
        class: "bg-indigo-200/10 text-indigo-200",
        icon: Sql
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-blue-600/10 text-blue-600",
        icon: Typescript
    },
    SUPABASE: {
        name: "SupaBase",
        class: "bg-green-200/10 text-green-200",
        icon: SupaBase
    },
    ANGULAR: {
        name: "Angular",
        class: "bg-red-600/10 text-red-600",
        icon: Angular
    },
    SPRINGBOOT: {
        name: "SpringBoot",
        class: "bg-green-600/10 text-green-600",
        icon: SpringBoot
    },


}

const PROJECTS =[
    {
        title: "API REST - ElPisito",
        description: "API REST desarrollada con Spring Boot y Angular para gestionar una plataforma de alquiler de pisos. La API permite realizar operaciones CRUD sobre entidades como usuarios, pisos y reservas.",
        tags: [ TAGS.ANGULAR, TAGS.SPRINGBOOT, TAGS.TYPESCRIPT, TAGS.SQL, TAGS.CSS ],
        image: "projects/elpisito.png",
        link: "https://github.com/alvaromt6/ElPisitoV9.git",
        link2: "https://github.com/alvaromt6/ElPisitoV9.git"
    },
    {
        title: "Red Social - Zuno",
        description: "Plataforma de red social desarrollada con React, Tailwind CSS, SupaBase que permite a los usuarios crear perfiles y compartir publicaciones en las que pueden interactuar dando like o comentando.",
        tags: [ TAGS.REACT, TAGS.TAILWIND, TAGS.SUPABASE,TAGS.SQL ],
        image: "projects/red-social.png",
        link: "https://github.com/alvaromt6/red-social.git",
        link2: "https://github.com/alvaromt6/red-social.git"
    },
  
]
--- 
{
    PROJECTS.map(({ title, description, tags, image, link, link2 }) => (
        <article>
            <div class="flex items-center gap-2 mt-10 mb-2">
            <h3 class="text-2xl font-semibold text-[#0a58e9]">{ title }</h3>
            {/* Link repositorio */}
            <nav class="flex flex-wrap gap-4 mt-2">
                <SocialPill href={ link2 } target="_blank" rel="noopener noreferrer">
                <GithubIcon class="size-4 md:size-6" />
                GitHub
                </SocialPill>
            </nav>
            </div>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-3">
            {tags.map(( tag ) => (
                <li>
                <span class={` flex gap-x-2 rounded-full text-xs ${ tag.class } py-1 px-2`}>
                    <tag.icon class="size-4" />
                    { tag.name }
                </span>
                </li>
            ))}
            </ul>

            <a href={ link } target="_blank" rel="noopener noreferrer">
            <img 
                class="rounded shadow-white/10 transition-transform duration-300 hover:scale-105 mt-6" 
                src={ image } 
                alt={`Captura de pantalla del proyecto ${ title }`} 
            />
            </a>
        </article>
    ))
}